.image-container {
  height: 528px;
  padding: 0 .5rem 1rem .5rem;
  overflow: hidden;

  display: flex;
  justify-content: center;

  .image {
    border-radius: 0 0 50px 50px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}