.rsvp-container {
  width: 100%;
  height: calc(100% - 96px);
  padding: .5rem 1rem;

  background-color: var(--color-white-dark);

  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
    color: var(--color-green);
    font-weight: bolder;
    font-size: 1rem;
  }

  .description {
    padding: 1rem 0;
    font-weight: 500;
  }

  .guest-cards {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1;
  }

  .submit-button {
    align-items: end;
  }
}