<div class="rsvp-container">
  @if (!this.rsvpInfo) {
    <p>Der opstod en fejl! Prøv at scan QR koden igen</p>
  }

  @if (this.rsvpInfo) {
    <h2 class="title">
      {{
        this.rsvpInfo.guests.length > 1
          ? ("pages.rsvp.title.plural" | transloco)
          : ("pages.rsvp.title.singular" | transloco)
      }}
    </h2>
    <h3 class="subtitle">{{ "pages.rsvp.deadline" | transloco }}</h3>
    <p class="description">
      {{
        this.rsvpInfo.guests.length > 1
          ? ("pages.rsvp.description.plural" | transloco)
          : ("pages.rsvp.description.singular" | transloco)
      }}
    </p>

    <div class="guest-cards">
      @for (guest of this.rsvpInfo.guests; track $index) {
        <app-rsvp-card [guest]="guest"></app-rsvp-card>
      }
    </div>

    <app-button-next
      class="submit-button"
      [label]="'pages.rsvp.submit' | transloco"
      (click)="onSubmitClick()"
    ></app-button-next>
  }
</div>
