<div class="invite-container">
  <app-image-portrait class="portrait-img"></app-image-portrait>

  <p class="invitation-text">
    {{ "pages.invite.description" | transloco }}
  </p>

  <app-location-info></app-location-info>

  @if (this.isInvited) {
    <div class="next-btn-wrapper">
      @if (this.isRegistered) {
        <app-button-next
          [label]="'pages.invite.info' | transloco"
          (click)="onInfoButtonClick()"
        ></app-button-next>
      } @else {
        <app-button-next
          [label]="'pages.invite.rsvp' | transloco"
          (click)="onRsvpButtonClick()"
        ></app-button-next>
      }
    </div>
  }
</div>
