<div class="info-container">
  <div class="intro">
    <h2 class="title">{{ "pages.info.title" | transloco }}</h2>
    <p class="description">{{ "pages.info.description" | transloco }}</p>
  </div>

  <div class="topics">
    <!-- Booking -->
    <app-accordion-card [title]="'pages.info.topics.booking.title' | transloco">
      <div accordion-content>
        <p class="expanded-text">
          {{ "pages.info.topics.booking.expanded.line1" | transloco }}
        </p>
        <p class="expanded-text">
          {{ "pages.info.topics.booking.expanded.line2" | transloco }}
        </p>
        <div class="discount-code">
          <p class="code">
            {{ "pages.info.topics.booking.expanded.discountCode" | transloco }}
          </p>
          <button class="copy-button" (click)="onCopyDiscountCode()">
            <i class="fa-regular fa-copy"></i>
          </button>
        </div>
        <p class="expanded-text">
          {{ "pages.info.topics.booking.expanded.line3" | transloco }}
        </p>
        <a
          class="booking-link"
          href="https://scheelsminde.dk/vaerelser/"
          target="_blank"
          >Book et værelse her</a
        >
      </div>
    </app-accordion-card>

    <!-- Wishlist -->
    <app-accordion-card
      [title]="'pages.info.topics.wishlist.title' | transloco"
    >
      <div accordion-content>
        <p class="expanded-text">
          {{ "pages.info.topics.wishlist.description" | transloco }}
        </p>
        <a class="link-with-icon" href="https://ønskeskyen.dk" target="_blank">
          <i class="fa-solid fa-cloud"></i>
          {{ "pages.info.topics.wishlist.linkLabel" | transloco }}
        </a>
      </div>
    </app-accordion-card>

    <!-- Route -->
    <app-accordion-card [title]="'pages.info.topics.route.title' | transloco">
      <div accordion-content>
        <p class="expanded-text">
          {{ "pages.info.topics.route.path.line1" | transloco }}
        </p>
        <div class="route-links">
          <a class="link-with-icon" href="https://maps.app.goo.gl/vebjt14E8qsjBX5L6" target="_blank">
            <i class="fa-solid fa-church"></i>
            Vis vej til Saltum Kirke
          </a>
          <a class="link-with-icon" href="https://maps.app.goo.gl/Kq7xmj49Sg7R43Tz5" target="_blank">
            <i class="fa-solid fa-hotel"></i>
            Vis vej til Scheelsminde Hotel
          </a>
        </div>
        <p class="expanded-text">
          {{ "pages.info.topics.route.parking.line1" | transloco }}
        </p>
        <p class="expanded-text">
          {{ "pages.info.topics.route.parking.line2" | transloco }}
        </p>
      </div>
    </app-accordion-card>

    <!-- Toastmaster -->
    <app-accordion-card
      [title]="'pages.info.topics.toastmaster.title' | transloco"
    >
      <div accordion-content>
        <p class="expanded-text">
          {{ "pages.info.topics.toastmaster.description" | transloco }}
        </p>
        <p class="expanded-text">
          {{ "pages.info.topics.toastmaster.description2" | transloco }}
        </p>

        <div class="toastmaster-contact-info">
          <p>
            <b>{{
              "pages.info.topics.toastmaster.contact.name" | transloco
            }}</b>
          </p>
          <p>
            <a
              class="link-with-icon"
              href="mailto:{{
                'pages.info.topics.toastmaster.contact.mail' | transloco
              }}"
            >
              <i class="fa-solid fa-envelope"></i>
              {{ "pages.info.topics.toastmaster.contact.mail" | transloco }}
            </a>
          </p>
        </div>
      </div>
    </app-accordion-card>

    <app-accordion-card
      [title]="'pages.info.topics.timeline.title' | transloco"
    >
      <div accordion-content></div>
    </app-accordion-card>
  </div>
</div>
